<ion-view view-title="Sign In">
    <ion-content class="padding">
        <div style="margin: 0 auto; width: 156px; margin-top:30px">
            <img src="img/logo.png">
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <button class="button button-positive" style="width:100%" ng-click="login()">
            Sign In
        </button>
        <br>
        <br>
        <button class="button button-calm icon-left ion-social-facebook" style="width:100%" ng-click="login()">
            Sign In with Facebook
        </button>

    </ion-content>
</ion-view>
