<ion-view view-title="{{query}}">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search">
                </label>
                <button class="button button-small icon ion-search">
                </button>
            </div>
        </div>
        <div class="list">
        <div ng-repeat="post in posts" class="list card" ng-click="expandPost(post.id)">
            <div class="item item-image">
                <img ng-src="img/posts/{{post.id}}.jpg">
            </div>
            <div class="item item-avatar">
                <img ng-src="img/posts/{{post.id}}.jpg">
                <h2>{{post.selected.title}}</h2>
                <p>{{post.offered_by}}</p>
                <p><i class="icon ion-ios-location"></i> {{post.location}}</p>
            </div>
        </div>
        </div>

        <div class="list">
        <div ng-repeat="post in posts" class="list card" ng-click="expandPost(post.id)">
            <div class="item item-image">
                <img ng-src="img/posts/{{post.id}}.jpg">
            </div>
            <div class="item item-avatar">
                <img ng-src="img/posts/{{post.id}}.jpg">
                <h2>{{post.selected.title}}</h2>
                <p>{{post.offered_by}}</p>
                <p><i class="icon ion-ios-location"></i> {{post.location}}</p>
            </div>
        </div>
        </div>
  </ion-content>
</ion-view>
