<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search">
                </label>
                <button class="button button-small icon ion-search">
                </button>
            </div>
        </div>
        <div class="list">
        <div ng-repeat="category in categories" class="list card" ng-click="expandCategory(category)">
            <div class="item item-image">
                <img ng-src="img/posts/{{posts[category][0].id}}.jpg">
            </div>
            <div class="item item-divider">
                <h2>{{category}}</h2>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
