<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search" ng-model="query">
                </label>
                <button class="button button-small icon ion-search" ng-click="search(query)">
                </button>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose category
                </div>
                <select>
                    <option ng-repeat="category in categories">{{category}}</options>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>
